<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet">
    <style>
      p {
          text-align:center;
          font-size:50px;
          color: white;
      }
    </style>
    <title>About Us - </title>
  </head>
  <body>
    <!--H1 Company Name here-->
    <!--nav
    //- a(href='test.html') Home
    //- a(href='aboutUs.html') About Us
    //- a(href='#') Contact Us
    
    -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="bootstrap.css" rel="stylesheet">
    <script src="bootstrap.js"></script>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark"><a class="avbar-brand" href="test.html"><img class="d-inline-block align-top" src="logo.svg" alt="logo image" width="30" height="30"><span class="h3 align-middle mx-2" style="font-family:Arial">Renesas</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-5">
          <li class="nav-item active"><a class="nav-link" href="#">首頁<span class="sr-only">Current</span></a></li>
          <li class="nav-item"><a class="nav-link" href="aboutUs.html">關於我們</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true">聯絡我們</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">聯絡電話</a><a class="dropdown-item" href="#">聯絡信箱</a></div>
          </li>
        </ul>
        <form class="form-inline mx-auto">
          <input class="form-control mr-sm-4" id="search" type="search" aria-label="Search123" placeholder="請輸入查詢商品...">
          <button class="btn btn-outline-success my-2 my-sm-0" id="btnSearch" type="submit">查詢</button>
        </form>
        <div class="regBtn">
          <button class="btn btn-outline-warning mr-sm-2" id="btnReg" type="submit" onclick="move(this)">註冊</button>
        </div>
        <div class="loginBtn">
          <button class="btn btn-outline-primary my-2 my-sm-0" id="btnLogin" type="submit" onclick="move(this)">登入</button>
        </div>
        <script>
          function move(mode) {
              //alert(mode.id);
              if (mode.id == 'btnReg')
                  window.location.href = 'register.html';
              if (mode.id == 'btnLogin')
                  window.location.href = 'login.html';
          };
        </script>
      </div>
    </nav>
    <H3>About Us Page</H3>
  </body>
</html>