<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet">
    <style>
      p {
          text-align:center;
          font-size:50px;
          color: white;
      }
      
      .comment1 {
          border: 1px solid #555;
          line-height: 1.5;
          width:400px;
          padding:10px;
      }
      .date{
          text-align:right;
          font-size:80%;
          
      }
      
      .author {
          font-size:110%;
      }
      
      .text{
          font-size:90%;
      }
    </style>
    <title>This is homepage</title>
  </head>
  <body>
    <div class="comment1"><em>(Post By Admin)</em>
      <div class="date">04-02-2018</div>
      <div class="author">Admin</div>
      <div class="text">how are you all today?</div>
    </div>
    <div class="comment1">
      <div class="date">04-03-2028</div>
      <div class="author">guest</div>
      <div class="text">how are you today? admin?</div>
    </div>
  </body>
</html>