doctype html
html
    head
        link(href="style.css" rel="stylesheet")
        style.
            p {
                text-align:center;
                font-size:50px;
                color: white;
            }
        title About Us - 
        
    body
        include inclues/nav.pug
        H3 About Us Page

