doctype html
html
    head
        title 登入頁面
    body
        include inclues/nav.pug
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
        script(src="../javascripts/login.js" type="text/javascript")
        link(type="text/css" href="../stylesheets/login.css" rel="stylesheet")   
        link(type="text/css" href="../stylesheets/bootstrap.css" rel="stylesheet") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")
        
        != messages()
        form#msform(method="post" action="/users/login")
            
            fieldset
                h2.fs-title 登入您的帳號
                //- h3.fs-subtitle 這是您的第一步
                input(name="username" type="text" placeholder="使用者帳號")
                //- input(name="email" type="email" placeholder="電子郵件")
                input(name="password" type="password" placeholder="您的密碼")
                //- input(name="cpass" type="cpassword" placeholder="再次確認您的密碼")
                //- input(class="closetab action-button" name="closetab" type="button" value="放棄註冊")
                input(class="login action-button" name="login" type="submit" value="登入")


        .container
            //-輸入暱稱
            #userFormArea.row
                .col-md-12
                    form#userForm
                        .form-group
                            label 輸入您的暱稱
                            input.form-control#username
                            br
                            input.btn.btn-primary(type="submit" value="立即交談") 
            #messageArea.row 
                //-使用者列表 
                .col-md-4 
                    .well
                        h3 Online Users
                        ul.list-group#users 
                //-交談區塊
                .col-md-8
                    .chat#chat
                    //-輸入訊息區塊
                    form#messageForm
                        .form-group
                            label 輸入您的訊息
                            textarea.form-control#message
                            br
                            input.btn.btn-primary(type="submit" value="傳送訊息")  
        //- socket.io jquery 區塊
        script.
                $(function(){
                    var usrname = "";
                    var socket = io.connect();
                    var $messageForm = $('#messageForm'); 
                    var $message = $('#message'); 
                    var $chat = $('#chat');
                    var $userForm = $('#userForm'); 
                    var $userFormArea = $('#userFormArea'); 
                    var $messageArea = $('#messageArea'); 
                    var $users = $('#users'); 
                    var $username = $('#username'); 
                      
                    $messageForm.submit((e)=>{
                        e.preventDefault();
                        // console.log("submitted");
                        socket.emit('send message',$message.val());
                        $message.val('');
                    });

                    socket.on('new message', data => {
                        $chat.append('<div class="well"><strong>'+data.user+'</strong> : '+ data.msg + '</div>'); 
                    });

                    //user 
                    $userForm.submit((e)=>{
                        e.preventDefault();
                        usrname = $username.val();
                        socket.emit('new user', usrname, data => {
                            if (data) {
                                $userFormArea.hide();
                                $messageArea.show();
                            } else
                                alert('此暱稱已經有人使用!');
                        });
                        $username.val('');

                        socket.on('get users', function (data) {
                            var html = "";
                            for (i = 0; i < data.length; i++){
                                html += '<li class="list-group-item">' + data[i] + '</li>'
                            };
                            $users.html(html);
                        })
                    });
                });
            