doctype html
html
    head
        link(href="style.css" rel="stylesheet")
        style.
            p {
                text-align:center;
                font-size:50px;
                color: white;
            }
        title Login Page 
        
    body
        include inclues/nav
        H3 Login Page

