/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  font-size: 50px;
  color: blueviolet;
}

.comment1 {
  border: 1px solid #555;
  line-height: 1.5;
  width: 400px;
  padding: 10px;
}

.date {
  text-align: right;
  font-size: 80%;
}

.author {
  font-size: 110%;
}

.text {
  font-size: 90%;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #000;
}

.fancy2 {
  box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.3);
}

ul.success li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}

ul.error li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  list-style: none;
}
