//-navbar-dark 文字顏色 .bg-dark 背景顏色
script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript")
link(type="text/css" href="../stylesheets/bootstrap.css" rel="stylesheet") 
script(src="../javascripts/bootstrap.js" type="text/javascript")
link(type="text/css" href="../stylesheets/test.css" rel="stylesheet")   

nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    a(href="/").avbar-brand
        img(src="../images/logo.svg", alt="logo image", width="30", height="30").d-inline-block.align-top
        span.h3.align-middle.mx-2(style="font-family:Arial") NodeAuth

    button.navbar-toggler(type="button",data-toggle="collapse" data-target="#navbarSupportedContent" 
                          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-5 
            li(class='nav-item active') 
                a.nav-link(href="/") 會員專區
                    span.sr-only Current
            li.nav-item
                a.nav-link(href="/about/aboutUs") 關於我們
            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(id="navbarDropdownMenuLink" data-toggle="dropdown" href="#" aria-expanded="false" aria-haspopup="true") 聯絡我們
                .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                    a.dropdown-item(href="#") 聯絡電話
                    a.dropdown-item(href="#") 聯絡信箱
        form.form-inline.mx-auto
            input#search.form-control.mr-sm-4(type="search", aria-label="Search123", placeholder="請輸入查詢商品...")
            button#btnSearch.btn.btn-outline-success.my-2.my-sm-0(type="submit") 查詢
        .regBtn
            button#btnReg.btn.btn-outline-warning.mr-sm-2(type="submit" onclick='move(this)') 註冊
        .loginBtn
            button#btnLogin.btn.btn-outline-primary.mr-sm-2(type="submit" onclick='move(this)') 登入
        .logOutBtn
            button#btnLogout.btn.btn-outline-danger.mr-sm-2(type="submit" onclick='move(this)') 登出
        script.
            function move(mode) {
                //alert(mode.id);
                if (mode.id == 'btnReg'){
                    console.log(mode.id);
                     window.open('/users/register','_blank');
                }              
                if (mode.id == 'btnLogin')
                    window.location.href = '/users/login';
                if (mode.id == 'logOutBtn')
                    window.location.href = '/users/logout';
            };